header{
    text-align: center;
}
header img{
    width: 200px;
    border: 10px solid black;
    border-radius: 100%;
}

main {
    max-width: 800px;
    margin: o auto;
    padding: 0 20px;
    text-align: center;
}

main img{
    max-width: 50%;
}

